<div class="movie uk-card uk-card-secondary uk-card-body" >
  <div class="img" [style.background-image]=`url(${cover})`></div>

  <div class="metas">
    <div>
      <p class="uk-text-lighter meta uk-text-lead">{{ title }}</p>
      <p class="uk-text-lighter meta  uk-text-light">{{ year }}, {{ author }}</p>
      <p class="uk-text-lighter uk-text-small meta uk-text-light">{{ duration }} min</p>

      <div class="uk-text-warning uk-text-large">
        <app-movie-rating [rating]="rating" />
      </div>

      <p class="uk-text-lighter uk-text-small meta uk-text-light">{{ genre }}</p>
    </div>

    <p class="uk-text-lighter meta">{{ synopsis }}</p>
  </div>

</div>
